In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('pollice data.csv')
df.head(2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [2]:
df=pd.read_csv('pollice data.csv',parse_dates=['stop_date'])
# here i fatched those records that are gender mail and stop region  drugs true
drugs_adicted_womens=df[(df.driver_gender=='M') & (df.drugs_related_stop==True) & (df.is_arrested==True)]
# AND NOW WE ARE CHECKING HOW MANY GIRLS IS ARRESTED IN THIS CONDITION:-147 girls
# drugs_adicted_womens.is_arrested.value_counts()
# OUTPUT = 147 GIRLS ARE ARRESTED IN THIS CONDITION
drugs_adicted_womens[drugs_adicted_womens['stop_date']=='2007-07-20']
# drugs_adicted_womens.stop_date.value_counts()
# acording to above condition i fatche those girls record was arrested in 2007-07-20 in this date

In [3]:
df.head(1)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [3]:
df['stop_date']

0         1/2/2005
1        1/18/2005
2        1/23/2005
3        2/20/2005
4        3/14/2005
           ...
65530    12/6/2012
65531    12/6/2012
65532    12/6/2012
65533    12/7/2012
65534    12/7/2012
Name: stop_date, Length: 65535, dtype: object

In [17]:
df[['month','day','year']]=df['stop_date'].str.split('/',expand=True)

In [23]:
df[['day','month','year']].head()

  day month  year
0   2     1  2005
1  18     1  2005
2  23     1  2005
3  20     2  2005
4  14     3  2005

In [19]:
df['year'].value_counts()

2006    10639
2012    10515
2007     9476
2008     8752
2011     8126
2009     7908
2010     7561
2005     2558
Name: year, dtype: int64

In [29]:
'x'+'x'+'x'

'xxx'

In [30]:
df['date2']=df['day']+'-'+ df['month']+'-' +df['year']       # important there is no comma but added

In [34]:
df['date2'].head()

0     2-1-2005
1    18-1-2005
2    23-1-2005
3    20-2-2005
4    14-3-2005
Name: date2, dtype: object

In [62]:
df['date2']=pd.to_datetime(df['date2'],format='%y-%m-%d %i-%p')

In [63]:
df['date2']

0       2005-02-01
1       2005-02-01
2       2005-02-01
3       2005-02-01
4       2005-02-01
           ...
65530   2005-02-01
65531   2005-02-01
65532   2005-02-01
65533   2005-02-01
65534   2005-02-01
Name: date2, Length: 65535, dtype: datetime64[ns]

In [55]:
df['date2'][0].month_name()

'February'

In [48]:
df['stop_date'].dtypes       # 2nd trick

dtype('O')

In [53]:
pd.to_datetime(df['stop_date'].str.replace('/','-'))[0].month_name()


# this is best trick

'January'

In [8]:
df['stop_date'][0].month_name()

'January'

## first type change the datatype, it typically uses

In [5]:
df.stop_date.dtypes

dtype('<M8[ns]')

In [64]:
df['stop_date']=pd.to_datetime(df.stop_date)
df['stop_date'].dtypes
#here you can use the format and errors parameter and in the to_datetime

dtype('<M8[ns]')

In [65]:
df.dtypes

stop_date             datetime64[ns]
stop_time                     object
country_name                 float64
driver_gender                 object
driver_age_raw               float64
driver_age                   float64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
search_type                   object
stop_outcome                  object
is_arrested                   object
stop_duration                 object
drugs_related_stop              bool
day                           object
month                         object
year                          object
date2                 datetime64[ns]
dtype: object

## second trick number change datetime datatype for importing time
<b>using parse_dates=['column_name']</b>

In [71]:
data =pd.read_csv('datetimeseries.csv')
# data.describe(include='all')
# np.unique(data.date)
# data.date.value_counts()
data.dtypes

Date       object
Symbol     object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [12]:
data.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

## here i am rechange the Date column and also split the Date column in date and timeby using python tips and tricks

In [3]:
a=data['Date'].str.split(" ")
a

0        [2020-03-13, 08-PM]
1        [2020-03-13, 07-PM]
2        [2020-03-13, 06-PM]
3        [2020-03-13, 05-PM]
4        [2020-03-13, 04-PM]
                ...
23669    [2017-07-01, 03-PM]
23670    [2017-07-01, 02-PM]
23671    [2017-07-01, 01-PM]
23672    [2017-07-01, 12-PM]
23673    [2017-07-01, 11-AM]
Name: Date, Length: 23674, dtype: object

In [15]:
date=[]
time=[]
b=list(a)
for i in b:
#     print(i[0])
    date.append(i[0])
    time.append(i[1])
data['date']=pd.Series(date,name='date')
data['time']=pd.Series(time,name='time')
# pd.concat(date,time,axis=1)
split_data=data[['date','time','Symbol','Open','High','Low','Close','Volume']]
split_data.date=pd.to_datetime(split_data.date)
split_data.date[0].day_name()

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

'Friday'

In [16]:
split_data.head(2)

        date   time  Symbol    Open    High     Low   Close      Volume
0 2020-03-13  08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13  07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09

### here we are converting a column in datetime by using to_datetime

In [74]:
split_data['date']=pd.to_datetime(split_data.date,format='%Y-%m-%d %i-%p')

In [76]:
split_data.dtypes

date          datetime64[ns]
time                  object
Symbol                object
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume               float64
day_name              object
month_name            object
dtype: object

## here i was create the day name column by using python

In [61]:
dayname=[]
for item in split_data.date:
    
    dayname.append(item.day_name())
day=pd.Series(dayname)
split_data['day_name']=day
split_data.head(2)

,date,time,Symbol,Open,High,Low,Close,Volume,day_name
0,2020-03-13,08-PM,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13,07-PM,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday

## here add month column name

In [71]:
monthname=[]
for item in split_data.date:
#     print(item.month_name())
    
    monthname.append(item.month_name())
month=pd.Series(monthname)
split_data['month_name']=month
split_data.head(2)

,date,time,Symbol,Open,High,Low,Close,Volume,day_name,month_name
0,2020-03-13,08-PM,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday,March
1,2020-03-13,07-PM,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday,March

## finally i converted the Date column in datetime and finally print that 
 name day which are present in first index in date column

>> # 2nd trick here i will convert date column object dtype to datetime

## now start the in next time

In [40]:
data.dtypes
# when you applied the to_datetime method 
#u can apply the date time function

Date      datetime64[ns]
Symbol            object
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

In [55]:
data.head(3)

                 Date  Symbol    Open    High     Low   Close      Volume
0 2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2 2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81

In [59]:
data['Date'][0].day_name()
# we can also access this type

'Friday'

In [60]:
data['Date'][0].month_name()

'March'

### and all the above operation by using in  short terms with the help of read_csv

In [5]:
import pandas as pd

In [12]:
parsing_func = lambda x: pd.datetime.strptime(x,'%d-%m-%Y %i-%p ')
# this is not working i do,nt know anyone solve it

In [13]:
data2=pd.read_csv('datetimeseries.csv',date_parser=parsing_func)

In [15]:
data2.Date.dtypes

dtype('O')

In [14]:
filterdata=df[['stop_date','stop_time','driver_gender','driver_age','driver_race','violation_raw','violation','search_conducted','is_arrested','stop_duration','drugs_related_stop']]

In [63]:
filterdata.head(3)

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1:55,M,20.0,White,Speeding,Speeding,False,False,0-15 Min,False
1,2005-01-18,8:15,M,40.0,White,Speeding,Speeding,False,False,0-15 Min,False
2,2005-01-23,23:15,M,33.0,White,Speeding,Speeding,False,False,0-15 Min,False

In [15]:
filterdata.dtypes

stop_date             datetime64[ns]
stop_time                     object
driver_gender                 object
driver_age                   float64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
is_arrested                   object
stop_duration                 object
drugs_related_stop              bool
dtype: object

In [49]:
filterdata.describe()

         driver_age
count  61228.000000
mean      34.148984
std       12.760710
min       15.000000
25%       23.000000
50%       31.000000
75%       43.000000
max       88.000000

In [52]:
filterdata.isnull().sum()

stop_date                0
stop_time                0
driver_gender         4061
driver_age            4307
driver_race           4060
violation_raw         4060
violation             4060
search_conducted         0
is_arrested           4060
stop_duration         4060
drugs_related_stop       0
dtype: int64

In [65]:
pd.value_counts(filterdata.stop_date)

2012-01-11    69
2012-02-28    65
2007-05-16    62
2012-01-02    61
2007-01-10    60
              ..
2005-08-28     1
2005-07-20     1
2005-03-23     1
2005-07-24     1
2010-12-25     1
Name: stop_date, Length: 2651, dtype: int64

In [77]:
for col in filterdata.columns:
    print(col,'>>>>',pd.unique(filterdata[col]))
    print()
# for print the all unique value in a list

stop_date >>>> ['2005-01-02T00:00:00.000000000' '2005-01-18T00:00:00.000000000'
 '2005-01-23T00:00:00.000000000' ... '2012-12-05T00:00:00.000000000'
 '2012-12-06T00:00:00.000000000' '2012-12-07T00:00:00.000000000']

stop_time >>>> ['1:55' '8:15' '23:15' ... '4:09' '5:16' '4:54']

driver_gender >>>> ['M' 'F' nan]

driver_age >>>> [20. 40. 33. 19. 21. 23. 36. 35. 26. 39. 50. 47. 52. 38. nan 41. 28. 46.
 32. 58. 27. 43. 24. 17. 22. 44. 48. 34. 55. 51. 45. 29. 31. 37. 67. 25.
 42. 30. 18. 57. 49. 61. 70. 53. 60. 59. 64. 63. 54. 56. 66. 62. 69. 81.
 68. 76. 75. 74. 82. 65. 72. 16. 77. 73. 71. 80. 79. 78. 88. 15. 83. 86.
 84. 85.]

driver_race >>>> ['White' 'Black' 'Asian' nan 'Hispanic' 'Other']

violation_raw >>>> ['Speeding' 'Call for Service' 'Equipment/Inspection Violation'
 'Other Traffic Violation' nan 'Registration Violation'
 'Special Detail/Directed Patrol' 'APB' 'Violation of City/Town Ordinance'
 'Suspicious Person' 'Motorist Assist/Courtesy' 'Warrant'
 'Seatbelt Violation']

violation >>>> ['Speeding' 'Other' 'Equipment' 'Moving violation' nan
 'Registration/plates' 'Seat belt']

search_conducted >>>> [False  True]

is_arrested >>>> [False True nan]

stop_duration >>>> ['0-15 Min' '16-30 Min' '30+ Min' nan '2']

drugs_related_stop >>>> [False  True]

In [78]:
for col in filterdata.columns:
    print(col,'>>>>',len(pd.unique(filterdata[col])))
#     "or"
    print(col,'>>>>>>',pd.nunique(filterdata[col]))  # it will return number of unique item in your feature
    print()
# how many unique value exists in the list

stop_date >>>> 2651

stop_time >>>> 1432

driver_gender >>>> 3

driver_age >>>> 74

driver_race >>>> 6

violation_raw >>>> 13

violation >>>> 7

search_conducted >>>> 2

is_arrested >>>> 3

stop_duration >>>> 5

drugs_related_stop >>>> 2

In [82]:
filterdata.dtypes

stop_date             datetime64[ns]
stop_time                     object
driver_gender                 object
driver_age                   float64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
is_arrested                   object
stop_duration                 object
drugs_related_stop              bool
dtype: object

### now start the concept of datetime series

In [7]:
data=pd.read_csv('E:\Data Sciences full course\projects\datetimeseries.csv')
data.head(1)

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93

In [12]:
data.Symbol.value_counts() #only 1 type symbol present here

ETHUSD    23674
Name: Symbol, dtype: int64

In [17]:
data.Date.value_counts().sum()      #it means all dates are unique

2018-04-16 10-PM    1
2018-10-21 04-PM    1
2019-07-26 11-AM    1
2017-07-08 01-AM    1
2019-03-04 06-PM    1
                   ..
2019-11-13 10-AM    1
2019-04-18 06-AM    1
2018-06-23 11-AM    1
2019-02-16 08-AM    1
2018-12-11 05-AM    1
Name: Date, Length: 23674, dtype: int64