In [1]:
import pandas as pd
import numpy as np

## first trick number change datetime datatype for importing time

In [35]:
df=pd.read_csv('E:\\Data Sciences full course\\projects\\3. Police Data.csv')
df.head(4)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False

In [61]:
data =pd.read_csv('E:\\Data Sciences full course\\projects\\3. Police Data.csv',parse_dates=['stop_date'])
# data.describe(include='all')
# np.unique(data.stop_date)
# data.stop_date.value_counts()
data.head(3)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [62]:
filterdata=data[['stop_date','stop_time','driver_gender','driver_age','driver_race','violation_raw','violation','search_conducted','is_arrested','stop_duration','drugs_related_stop']]

In [63]:
filterdata.head(3)

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1:55,M,20.0,White,Speeding,Speeding,False,False,0-15 Min,False
1,2005-01-18,8:15,M,40.0,White,Speeding,Speeding,False,False,0-15 Min,False
2,2005-01-23,23:15,M,33.0,White,Speeding,Speeding,False,False,0-15 Min,False

In [64]:
filterdata.dtypes

stop_date             datetime64[ns]
stop_time                     object
driver_gender                 object
driver_age                   float64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
is_arrested                   object
stop_duration                 object
drugs_related_stop              bool
dtype: object

In [49]:
filterdata.describe()

         driver_age
count  61228.000000
mean      34.148984
std       12.760710
min       15.000000
25%       23.000000
50%       31.000000
75%       43.000000
max       88.000000

In [52]:
filterdata.isnull().sum()

stop_date                0
stop_time                0
driver_gender         4061
driver_age            4307
driver_race           4060
violation_raw         4060
violation             4060
search_conducted         0
is_arrested           4060
stop_duration         4060
drugs_related_stop       0
dtype: int64

In [65]:
pd.value_counts(filterdata.stop_date)

2012-01-11    69
2012-02-28    65
2007-05-16    62
2012-01-02    61
2007-01-10    60
              ..
2005-08-28     1
2005-07-20     1
2005-03-23     1
2005-07-24     1
2010-12-25     1
Name: stop_date, Length: 2651, dtype: int64

In [77]:
for col in filterdata.columns:
    print(col,'>>>>',pd.unique(filterdata[col]))
    print()
# for print the all unique value in a list

stop_date >>>> ['2005-01-02T00:00:00.000000000' '2005-01-18T00:00:00.000000000'
 '2005-01-23T00:00:00.000000000' ... '2012-12-05T00:00:00.000000000'
 '2012-12-06T00:00:00.000000000' '2012-12-07T00:00:00.000000000']

stop_time >>>> ['1:55' '8:15' '23:15' ... '4:09' '5:16' '4:54']

driver_gender >>>> ['M' 'F' nan]

driver_age >>>> [20. 40. 33. 19. 21. 23. 36. 35. 26. 39. 50. 47. 52. 38. nan 41. 28. 46.
 32. 58. 27. 43. 24. 17. 22. 44. 48. 34. 55. 51. 45. 29. 31. 37. 67. 25.
 42. 30. 18. 57. 49. 61. 70. 53. 60. 59. 64. 63. 54. 56. 66. 62. 69. 81.
 68. 76. 75. 74. 82. 65. 72. 16. 77. 73. 71. 80. 79. 78. 88. 15. 83. 86.
 84. 85.]

driver_race >>>> ['White' 'Black' 'Asian' nan 'Hispanic' 'Other']

violation_raw >>>> ['Speeding' 'Call for Service' 'Equipment/Inspection Violation'
 'Other Traffic Violation' nan 'Registration Violation'
 'Special Detail/Directed Patrol' 'APB' 'Violation of City/Town Ordinance'
 'Suspicious Person' 'Motorist Assist/Courtesy' 'Warrant'
 'Seatbelt Violation']

violation >>>> ['Speeding' 'Other' 'Equipment' 'Moving violation' nan
 'Registration/plates' 'Seat belt']

search_conducted >>>> [False  True]

is_arrested >>>> [False True nan]

stop_duration >>>> ['0-15 Min' '16-30 Min' '30+ Min' nan '2']

drugs_related_stop >>>> [False  True]

In [78]:
for col in filterdata.columns:
    print(col,'>>>>',len(pd.unique(filterdata[col])))
    print()
# how many unique value exists in the list

stop_date >>>> 2651

stop_time >>>> 1432

driver_gender >>>> 3

driver_age >>>> 74

driver_race >>>> 6

violation_raw >>>> 13

violation >>>> 7

search_conducted >>>> 2

is_arrested >>>> 3

stop_duration >>>> 5

drugs_related_stop >>>> 2

In [82]:
filterdata.dtypes

stop_date             datetime64[ns]
stop_time                     object
driver_gender                 object
driver_age                   float64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
is_arrested                   object
stop_duration                 object
drugs_related_stop              bool
dtype: object

### now start the concept of datetime series

In [7]:
data=pd.read_csv('E:\Data Sciences full course\projects\datetimeseries.csv')
data.head(1)

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93

In [12]:
data.Symbol.value_counts() #only type symbol present here

ETHUSD    23674
Name: Symbol, dtype: int64

In [17]:
data.Date.value_counts().sum()      #it means all dates are unique

2018-04-16 10-PM    1
2018-10-21 04-PM    1
2019-07-26 11-AM    1
2017-07-08 01-AM    1
2019-03-04 06-PM    1
                   ..
2019-11-13 10-AM    1
2019-04-18 06-AM    1
2018-06-23 11-AM    1
2019-02-16 08-AM    1
2018-12-11 05-AM    1
Name: Date, Length: 23674, dtype: int64

### here i will convert date column object dtype to datetime

In [41]:
data['Date']=pd.to_datetime(data['Date'],format='%Y-%m-%d %I-%p ') 
# here you can,t change order the date formating

In [40]:
data.dtypes
# when you applied the to_datetime method 
#u can apply the date time function

Date      datetime64[ns]
Symbol            object
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

In [55]:
data.head(3)

                 Date  Symbol    Open    High     Low   Close      Volume
0 2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2 2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81

In [59]:
data['Date'][0].day_name()
# we can also access this type

'Friday'

In [60]:
data['Date'][0].month_name()

'March'

### and all the above operation by using in  short terms with the help of read_csv

In [70]:
parsing_func = lambda x: pd.datetime.strptime(x,'%Y-%m-%d %I-%p ')

In [71]:
data2=pd.read_csv('E:\Data Sciences full course\projects\datetimeseries.csv',parse_dates=['date'],date_parser=parsing_func)

ValueError: Missing column provided to 'parse_dates': 'date'