In [1]:
import numpy as np
import pandas as pd
import numpy.random as rd

In [15]:
td=rd.rand(5,5,5)
for i in td:
    for it in i:
        for ite in it:
            print(ite)
# for 3d print one by one by elment

0.686671975580613
0.8718027221638863
0.15278898584294764
0.11702235680401141
0.14866328856830135
0.9828014424141449
0.5610944504652138
0.5885297843087802
0.20411421046265776
0.09676018912980744
0.6543548638976592
0.6511631188556289
0.49908309905235204
0.7357741413362708
0.29368068259601754
0.6204632292301429
0.647568392950896
0.2670350784089808
0.17931374133136735
0.20175514164790798
0.20206641731251973
0.604395291715723
0.20984307733067398
0.8695209736069959
0.21656984386963662
0.010701920185130498
0.2528177897414303
0.8067698422954572
0.7645357380717235
0.8609979809796177
0.20306704958490884
0.4583933781496703
0.0894335766528892
0.4796851719943609
0.21659328065079153
0.17298120446095677
0.44854561164719864
0.9936516428452379
0.41715842428145444
0.17210805395180706
0.1310261140846647
0.7108469251678884
0.5707717252527783
0.3970316833845441
0.9536407937158828
0.7387858267054928
0.6067812310179928
0.666102803200502
0.6456936068239033
0.5757176605535586
0.45811967294975964
0.5133832508957421
0.1642010598796636
0.8357335559941184
0.3981763442796079
0.9715206198084331
0.26696336610600335
0.7659393033743435
0.6194800724669389
0.2383163243917319
0.5911492148809185
0.3501166849723113
0.18621749673496457
0.2047727172296806
0.48720197786410147
0.41609836749921314
0.48515055980310184
0.2509473678216677
0.6515897075675424
0.864867005052087
0.30235451767150623
0.7666150074009908
0.4301137025814572
0.5350859763823237
0.28898862413895476
0.6090558302765432
0.10982699823866593
0.726676205995079
0.1399578496974857
0.6721836499008819
0.9100649991416685
0.6152036001414924
0.6183424742783342
0.9671873472997985
0.2787855025698953
0.02075804631168121
0.556999543432649
0.6576042993947946
0.62230676779905
0.7008739976327185
0.27234014393347805
0.41352818111121803
0.5212716643946022
0.09273680520530414
0.185338626282731
0.44953031391999687
0.8666463783902647
0.836736377949489
0.32120159153935923
0.5528098337284216
0.31915775292104154
0.8643880867936605
0.16894523312448007
0.6112285014799083
0.00476091051987948
0.4691901727563029
0.5688443119179405
0.9638190971936141
0.41628377991454857
0.28561179164532735
0.055465293204288835
0.963744714477821
0.1764602550068891
0.607994020933547
0.5292456430831277
0.7589239724266562
0.059173708413239656
0.7643023611712737
0.732065469250001
0.3792293081037471
0.8538519767597678
0.9649708694883092
0.902896561394274
0.7500799231347568
0.10867178462037008

In [2]:
dataa=pd.read_csv('datetimeseries.csv')
dataa.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [35]:
dataa.Date.value_counts()

2019-01-24 06-AM    1
2019-01-07 09-AM    1
2019-10-15 09-AM    1
2017-10-14 01-AM    1
2019-09-11 11-AM    1
                   ..
2018-08-13 03-AM    1
2018-06-11 01-PM    1
2018-07-08 01-AM    1
2018-03-28 11-PM    1
2018-07-07 08-AM    1
Name: Date, Length: 23674, dtype: int64

In [36]:
dataa.shape

(23674, 7)

In [42]:
dataa.describe()
#symbol and date are a categorical column

               Open          High           Low         Close        Volume
count  23674.000000  23674.000000  23674.000000  23674.000000  2.367400e+04
mean     324.933372    327.317109    322.255521    324.926601  2.011035e+06
std      236.189068    238.539115    233.365042    236.192308  3.673646e+06
min       81.290000     82.000000     80.600000     81.290000  0.000000e+00
25%      171.522500    172.472500    170.500000    171.512500  3.993914e+05
50%      229.745000    231.725000    228.100000    229.725000  9.146454e+05
75%      402.797500    405.427500    400.030000    402.797500  2.098111e+06
max     1418.610000   1419.960000   1388.990000   1418.610000  8.569790e+07

In [40]:
len(dataa.columns)

7

In [44]:
dataa.Date.value_counts()

2019-01-24 06-AM    1
2019-01-07 09-AM    1
2019-10-15 09-AM    1
2017-10-14 01-AM    1
2019-09-11 11-AM    1
                   ..
2018-08-13 03-AM    1
2018-06-11 01-PM    1
2018-07-08 01-AM    1
2018-03-28 11-PM    1
2018-07-07 08-AM    1
Name: Date, Length: 23674, dtype: int64

In [55]:
dataa.High.var()

56900.90940069221

In [56]:
dataa.High.mean()

327.3171086423925

In [54]:
stddiv=(dataa.High.var())-(dataa.High.mean())
stddiv

56573.59229204982

## pivot tables

In [7]:
pd.pivot_table(dataa,index=['Date'],values=['High','Low','Open','Close'])

                   Close    High     Low    Open
Date
2017-07-01 01-PM  268.79  274.93  265.00  274.83
2017-07-01 02-PM  265.74  269.90  265.00  268.79
2017-07-01 03-PM  272.57  272.74  265.00  265.74
2017-07-01 04-PM  268.00  272.57  267.60  272.57
2017-07-01 05-PM  263.51  268.44  262.39  268.00
...                  ...     ...     ...     ...
2020-03-13 09-AM  133.80  136.53  126.62  127.12
2020-03-13 10-AM  132.60  134.99  128.90  133.80
2020-03-13 11-AM  128.93  133.17  126.01  132.60
2020-03-13 12-AM  107.09  117.50  102.92  110.30
2020-03-13 12-PM  131.35  134.60  126.95  128.93

[23674 rows x 4 columns]

In [8]:
pd.pivot_table(dataa,index=['Date'],values=['High','Low','Open','Close']).reset_index()
#for better representation

                   Date   Close    High     Low    Open
0      2017-07-01 01-PM  268.79  274.93  265.00  274.83
1      2017-07-01 02-PM  265.74  269.90  265.00  268.79
2      2017-07-01 03-PM  272.57  272.74  265.00  265.74
3      2017-07-01 04-PM  268.00  272.57  267.60  272.57
4      2017-07-01 05-PM  263.51  268.44  262.39  268.00
...                 ...     ...     ...     ...     ...
23669  2020-03-13 09-AM  133.80  136.53  126.62  127.12
23670  2020-03-13 10-AM  132.60  134.99  128.90  133.80
23671  2020-03-13 11-AM  128.93  133.17  126.01  132.60
23672  2020-03-13 12-AM  107.09  117.50  102.92  110.30
23673  2020-03-13 12-PM  131.35  134.60  126.95  128.93

[23674 rows x 5 columns]

In [ ]:
pvt_tble=pd.pivot_table(dataa,index=['Date'],values=['High','Low','Open','Close'])
pvt_tble.sort_index()

In [ ]:
dataa.sort_index()