## >>>>>>>>>>>>> main branch <<<<<<<<<<<<<<<<<<<

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__        #for pandas version

'1.2.3'

### series creating

In [9]:
listt=['a',3,3.3,True,'radhey']
ser1=pd.Series(listt)

ser1

0         a
1         3
2       3.3
3      True
4    radhey
dtype: object

In [10]:
emptyser=pd.Series([])
emptyser               # empty series

<ipython-input-10-c01efd6af1c8>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  emptyser=pd.Series([])

Series([], dtype: float64)

In [13]:
ser4=pd.Series([1,2,3,4,4],index=['a','b','c','d','e'],dtype=float,name='column_1')     #series creation method
ser4

a    1.0
b    2.0
c    3.0
d    4.0
e    4.0
Name: column_1, dtype: float64

In [23]:
scalar_value=pd.Series(0.5)         # for creation any one elment in the series
scalar_value

0    0.5
dtype: float64

In [22]:
scalar_value=pd.Series(0.5,index=[1,2,4,4])              #for creation same filling value series
scalar_value

1    0.5
2    0.5
4    0.5
4    0.5
dtype: float64

In [ ]:
series[seris < 4]      # with conditin operation fatch the records
max(seris)
min(seris)

scalar=pd.Series(o.5,index=[1,2,3,4])

In [3]:
pd.show_versions()         #show all library version

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\setuptools\distutils_patch.py:25: UserWarning: Distutils was imported before Setuptools. This usage is discouraged and may exhibit undesirable behaviors or errors. Please use Setuptools' objects directly or at least import Setuptools first.
  warnings.warn(

INSTALLED VERSIONS
------------------
commit           : f2c8480af2f25efdbd803218b9d87980f416563e
python           : 3.9.2.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.17763
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_India.1252

pandas           : 1.2.3
numpy            : 1.20.1
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.1.2
setuptools       : 49.2.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.23.1
pandas_datareader: None
bs4              : None
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.1
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
numba            : None

In [9]:
d=list('asdf')              #revise it next trik depensds on the basis
d

['a', 's', 'd', 'f']

In [10]:
data=pd.DataFrame(np.random.rand(8,4),columns=list('RSTV'))

In [11]:
data

          R         S         T         V
0  0.037457  0.583695  0.305794  0.955187
1  0.463358  0.226118  0.086190  0.061013
2  0.998364  0.807869  0.094150  0.763773
3  0.102742  0.408878  0.140875  0.950729
4  0.661262  0.692951  0.143071  0.694219
5  0.012502  0.664151  0.055865  0.375722
6  0.161675  0.684319  0.986732  0.329667
7  0.054770  0.595961  0.260845  0.515708

# rename column different types

In [12]:
df={'col one':[2,4],'col two':[4,9]}

In [13]:
df2=pd.DataFrame(data=df)

In [14]:
df2

   col one  col two
0        2        4
1        4        9

In [15]:
df2.rename({"col one":'col_one','col two':"col_two"},axis="columns")    #first method

   col_one  col_two
0        2        4
1        4        9

In [16]:
df2

   col one  col two
0        2        4
1        4        9

In [17]:
df2.columns=['col_one','col_two']        #second method

In [18]:
df2

   col_one  col_two
0        2        4
1        4        9

In [29]:
df2.columns.str.replace("_"," ")

Index(['col one', 'col two'], dtype='object')

In [30]:
df3=df2.columns.str.replace("_"," ")

In [31]:
df3

Index(['col one', 'col two'], dtype='object')

In [32]:
df2

   col_one  col_two
0        2        4
1        4        9

In [33]:
df2.columns=df3        #done remove _ with the space

In [34]:
df2

   col one  col two
0        2        4
1        4        9

In [ ]:
df2=df2.columns.str.replace("_"," ")        #third type of rename

In [35]:
df2.rename({"col one":'col_one'},axis="columns")    #you can use this type a particular column

   col_one  col two
0        2        4
1        4        9

In [41]:
df2.rename({'col two':"col_two"},axis="columns")      #here axis is compulsory passed here

   col one  col_two
0        2        4
1        4        9

# prefix and suffix method

In [42]:
df2

   col one  col two
0        2        4
1        4        9

In [44]:
df2.add_prefix("_c_")             #add a string in start position by using add_prefix()

   _c_col one  _c_col two
0           2           4
1           4           9

In [49]:
df2.add_suffix("_endig")           #add string in the end of columns by using add_suffix()

   col one_endig  col two_endig
0              2              4
1              4              9

# reverse row printed

In [2]:
polic=pd.read_csv('pollice data.csv')

In [53]:
polic.head(1)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [6]:
polic[::-1]   #if u wannt to aces last row then u can step in minus

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
65534,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65532,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65530,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [57]:
polic[::-1].head()           #for print the last position row  last 2 row

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
65534,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65532,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65530,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [61]:
polic[::-1].reset_index(drop=True).head()       #print last five row but index is true

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
2,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
3,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
4,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [62]:
polic[::-1].head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
65534,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65532,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65530,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# reverse column printe
## if you want to acces reverse column name then u always remeber that slicing is not support the column  name but u can use here column name by the loc function 
### and here step point given in minus value

In [68]:
df2.loc[:,::-1]          #for print the reverse column name

   col two  col one
0        4        2
1        9        4

# select column data by using data dtype

In [71]:
polic.head(2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [75]:
polic.dtypes

stop_date              object
stop_time              object
country_name          float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [18]:
polic.select_dtypes(include='object').head(2)       #whenever meet the condition than print datafrma acording to selecting include parameter

,stop_date,stop_time,driver_gender,driver_race,violation_raw,violation,search_type,stop_outcome,is_arrested,stop_duration
0,1/2/2005,1:55,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
1,1/18/2005,8:15,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min

In [19]:
pd.value_counts(polic.select_dtypes(include='object').dtypes )

object    10
dtype: int64

In [53]:
pd.value_counts(polic.select_dtypes(include='object') )
#if you want to here pass  without dtypes then you remember that always
#here you fatch a dataframe after than u are checkouting the value_counts method
#it is not possible bcz value_counts apply on a series

ValueError: could not broadcast input array from shape (65535,10) into shape (65535,)

In [54]:
polic.select_dtypes(include='object')   #this is data frme so here value_counts method does not work

,stop_date,stop_time,driver_gender,driver_race,violation_raw,violation,search_type,stop_outcome,is_arrested,stop_duration
0,1/2/2005,1:55,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
1,1/18/2005,8:15,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
2,1/23/2005,23:15,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
3,2/20/2005,17:15,M,White,Call for Service,Other,NaN,Arrest Driver,True,16-30 Min
4,3/14/2005,10:00,F,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,F,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
65531,12/6/2012,22:22,M,White,Speeding,Speeding,NaN,Warning,False,0-15 Min
65532,12/6/2012,23:20,M,Black,Equipment/Inspection Violation,Equipment,NaN,Citation,False,0-15 Min
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65534,12/7/2012,0:30,F,White,Speeding,Speeding,NaN,Citation,False,0-15 Min

In [31]:
type(polic.select_dtypes(include="float64").dtypes)    # and now this series and u want to apply your 
#value counts method can apply
# polic.dtypes

pandas.core.series.Series

In [32]:
type(polic.select_dtypes(include="float64"))  #here this is dataframe
# and here u can,t apply value_counts method bcz ths is pandas dataframe

pandas.core.frame.DataFrame

In [40]:
print(type(polic.dtypes))
polic.dtypes

<class 'pandas.core.series.Series'>

stop_date              object
stop_time              object
country_name          float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [47]:
polic.dtypes.shape

(15,)

In [52]:
pd.value_counts(polic.dtypes)      #chek for how many column float &
# and how many column integer by usiing value_counts

object     10
float64     3
bool        2
dtype: int64

In [48]:
len(polic.dtypes)

15

In [103]:
pd.value_counts(polic.select_dtypes(exclude="float64").dtypes)
#exclude keyword means except the particular dtypes all dtype all fatch

object    10
bool       2
dtype: int64

In [104]:
pd.value_counts(polic.select_dtypes(exclude=["float64"]).dtypes)
#here u should keep remember that here u can apply multiple dtypes okay

object    10
bool       2
dtype: int64

In [100]:
pd.value_counts(polic.dtypes)

object     10
float64     3
bool        2
dtype: int64

In [72]:
polic.select_dtypes(include=["object","float64"]).head(2)
#here u can pass multiple data type but keep remeber 
#multiple dtypes must be present in a list

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_type,stop_outcome,is_arrested,stop_duration
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,NaN,Citation,False,0-15 Min

In [62]:
polic.head(2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [66]:
polic[["stop_date","stop_time","driver_gender"]].head(2)

   stop_date stop_time driver_gender
0   1/2/2005      1:55             M
1  1/18/2005      8:15             M

In [70]:
polic["driver_gender"]=="M"

0         True
1         True
2         True
3         True
4        False
         ...
65530    False
65531     True
65532     True
65533    False
65534    False
Name: driver_gender, Length: 65535, dtype: bool

In [73]:
pd.value_counts(polic["driver_gender"]=="M")

True     45164
False    20371
Name: driver_gender, dtype: int64

In [74]:
dt=polic["driver_gender"]=="M"

In [76]:
pd.value_counts(dt)

True     45164
False    20371
Name: driver_gender, dtype: int64

## reverse column trick

In [80]:
polic.head(3)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [79]:
polic.loc[:,::-1].head(2)   
#for print the reverse column name

,drugs_related_stop,stop_duration,is_arrested,stop_outcome,search_type,search_conducted,violation,violation_raw,driver_race,driver_age,driver_age_raw,driver_gender,country_name,stop_time,stop_date
0,False,0-15 Min,False,Citation,NaN,False,Speeding,Speeding,White,20.0,1985.0,M,NaN,1:55,1/2/2005
1,False,0-15 Min,False,Citation,NaN,False,Speeding,Speeding,White,40.0,1965.0,M,NaN,8:15,1/18/2005

In [68]:
sum(polic["driver_gender"]=="M")            #here boolean broadcastingsum()            #here boolean broadcastingsum()            #here boolean broadcastingsum()            #here boolean broadcasting

45164

## convert string to number

In [105]:
df=pd.DataFrame({"col_1":["1.1",'2.2','3.3'],
                "col_2":['4.4','5.5','6.6'],
                "col_3":['7.7','8.8','-']})

In [106]:
df

  col_1 col_2 col_3
0   1.1   4.4   7.7
1   2.2   5.5   8.8
2   3.3   6.6     -

In [107]:
df.dtypes

col_1    object
col_2    object
col_3    object
dtype: object

In [111]:
df["col_one"]= df['col_1'].astype("float")   #1st method but here another column is creating 
df.dtypes

col_1       object
col_2       object
col_3       object
col_one    float64
dtype: object

In [134]:
df2=df[['col_2','col_3','col_one']]
df2

  col_2 col_3  col_one
0   4.4   7.7      1.1
1   5.5   8.8      2.2
2   6.6     -      3.3

In [150]:
df3=pd.to_numeric(df2['col_2']).dtypes
#to_numeric used for as it is dtypes define

In [154]:
df2.dtypes

col_2       object
col_3       object
col_one    float64
dtype: object

In [155]:
df2.astype({'col_2':int})

ValueError: invalid literal for int() with base 10: '4.4'

In [142]:
df.astype({'col_one':'str'}).dtypes   # 2nd method

col_1      object
col_2      object
col_3      object
col_one    object
dtype: object

In [117]:
df.astype({'col_one':'str','col_2':"float"})
#here u can multiple columns name

  col_1  col_2 col_3 col_one
0   1.1    4.4   7.7     1.1
1   2.2    5.5   8.8     2.2
2   3.3    6.6     -     3.3

In [118]:
df.dtypes

col_1       object
col_2       object
col_3       object
col_one    float64
dtype: object

## here we want to change the dtypes of column 3 but i have some issue chek it