In [1]:
import numpy as np
import pandas as pd

In [3]:
arr = np.array([[i for i in range(1,21)] for j in range(1,21)])

In [4]:

arr

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20]])

In [7]:
arr.shape

(20, 20)

In [8]:
arr.size

400

In [9]:
arr.ndim

2

In [13]:
arr[19,19]=400

In [14]:
arr

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19, 400]])

In [17]:
arr[19,18]=300

In [18]:
arr

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20],
       [  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18, 300, 400]])

In [19]:
import os

In [20]:
os.getcwd()

'C:\\Users\\Dell\\Desktop'

# arange function create single dimension 
# by using arange function

In [4]:
ar = np.arange(2,5)

In [5]:
ar

array([2, 3, 4])

# reshape function for single dimension to multidimension

In [6]:
ar.reshape(1,3)

array([[2, 3, 4]])

In [7]:
ar.ndim

1

# zeros function create a array in range with zero filling

In [10]:
rt = np.zeros((2,5))

In [11]:
rt

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

# ravel function using convert single dimension

In [14]:
pr = rt.ravel()
print(pr)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

# linspace for creating similar difference array in range like 1 to 5 and 10 element

In [15]:
tt = np.linspace(1,10,8)

In [16]:
tt

array([ 1.        ,  2.28571429,  3.57142857,  4.85714286,  6.14285714,
        7.42857143,  8.71428571, 10.        ])

In [17]:
tt.shape

(8,)

In [18]:
tt.size

8

In [19]:
tt.ndim

1

In [20]:
tt.nbytes

64

# empty function create npy array with filling random number

In [22]:
tr = np.empty((3,5))
tr

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [24]:
tre = np.empty((5,5),np.int64)

In [25]:
tre

array([[25895968444448860, 23925768161198147, 32370111954616435,
        30399731280904284, 31525476570497132],
       [32651513914720368, 31244048838426721, 25896161720205411,
        28992399350038608, 32370090479517810],
       [32651616994721884, 25896170311057512, 29273895802044496,
        16044292723048559, 27584998694191196],
       [32651548277538908, 27303553780220005, 28992339220037731,
        30962642582700133, 34058953225470069],
       [32651535391785052, 30399731283263580, 12948338561581168,
        12947848936620144,           7929968]], dtype=int64)

In [26]:
tre.ndim

2

In [27]:
tre.nbytes

200

In [28]:
tre.shape

(5, 5)

In [29]:
tre.dtype

dtype('int64')

# Empty_like function create array similar type
# another array

In [3]:
w = np.linspace(2,10,5)
w

array([ 2.,  4.,  6.,  8., 10.])

In [4]:
we = np.empty_like(w)
we

array([ 2.,  4.,  6.,  8., 10.])

In [5]:
we = np.empty_like(w)
we

array([ 2.,  4.,  6.,  8., 10.])

# identity fuction 
# create npy array same row size and column
# with filling randomly input number

In [6]:
f = np.identity(10)

In [7]:
f

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [8]:
f.shape

(10, 10)

In [10]:
f.size

100

In [2]:
fr = np.array([[i for i in range(1,4)] for j in range(1,4)])
fr

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

# fr.sum()     # add for all element
# and now sum by using axis value

In [14]:
fr.sum(axis = 1)

array([6, 6, 6])

In [15]:
fr.sum(axis = 0)

array([3, 6, 9])

In [3]:
fr.sum()

18

In [ ]:
fr.argmin()

# transpose convert row into column

In [16]:
fr

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [18]:
fr.T

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

In [20]:
fr.T

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

In [3]:
import os

In [6]:
os.getcwd

In [7]:
os.getcwd()

'C:\\Users\\Dell\\Desktop'

In [8]:
os.listdir()

['.ipynb_checkpoints',
 'Bubbles - Shortcut.lnk',
 'chachal.jpeg',
 'dwld',
 'h2.jpg',
 'IMG_20200326_210100.jpg',
 'index.html',
 'laptop.jpg',
 'laptop2.jpg',
 'laptop3.jpg',
 'LINKS - Mark II.appref-ms',
 'Microsoft Edge.lnk',
 'notepad.lnk',
 'pdf',
 'project',
 'python syllabus.docx',
 'raj.jpg',
 'raj1.jpg',
 'ranj.jpg',
 'revision notebook for numpy array.ipynb',
 'sachin.txt',
 'SlideToShutDown.lnk',
 'style.css',
 'sublime_text - Shortcut.lnk',
 'typing chart.jpg',
 'unit_1.pdf',
 'Visual Studio Code - Insiders.lnk',
 'vs_ code shortcuts.pdf',
 'whtspdf',
 'Zoom.lnk']

In [12]:
with open("file.txt","w") as file:
    s="this is my file"
    b=file.write(s)

In [15]:
with open("file.txt","r") as file_readr:
    read_file=file_readr.read()
    print(read_file)

this is my file

In [16]:
import shutil

In [17]:
os.getcwd()

'C:\\Users\\Dell\\Desktop'

In [18]:
shutil.move("C:\\Users\\Dell\\Desktop\\file.txt",'C:\\Users\\Dell\\Desktop\\dwld\\ranjitfile.txt')

'C:\\Users\\Dell\\Desktop\\dwld\\ranjitfile.txt'

In [19]:
os.listdir()

['.ipynb_checkpoints',
 'Bubbles - Shortcut.lnk',
 'chachal.jpeg',
 'dwld',
 'h2.jpg',
 'IMG_20200326_210100.jpg',
 'index.html',
 'laptop.jpg',
 'laptop2.jpg',
 'laptop3.jpg',
 'LINKS - Mark II.appref-ms',
 'Microsoft Edge.lnk',
 'notepad.lnk',
 'pdf',
 'project',
 'python syllabus.docx',
 'raj.jpg',
 'raj1.jpg',
 'ranj.jpg',
 'revision notebook for numpy array.ipynb',
 'sachin.txt',
 'SlideToShutDown.lnk',
 'style.css',
 'sublime_text - Shortcut.lnk',
 'typing chart.jpg',
 'unit_1.pdf',
 'Visual Studio Code - Insiders.lnk',
 'vs_ code shortcuts.pdf',
 'whtspdf',
 'Zoom.lnk']

In [39]:
os.chdir('C:\\Users\\Dell\\Desktop\\dwld')

In [40]:
walkk=os.walk(r".")

In [44]:
for i in walkk:
    print("this is my data",i)

In [38]:
d = os.listdir('C:\\Users\\Dell\\Desktop\\dwld')

In [36]:
ls

[]

In [23]:
type(d)
len(d)
for i in d:
    print()
    print(i)

3_Big_Mistakes_in_Your_English_Listening__Go_Natural_English(480p).mp4

500+_Daily_Use_English_Sentences_।_English_Speaking_Practice(128k).m4a

50_English_Phrases_to_Use_in_a_Conversation(480p).mp4

52_GAJ_KA_DAMAN__PRANJAL_DAHIYA__AMAN_JAJI__RENUKA_PANWAR__MUKESH_JAJI__SAHIL_SANDHU(256k).mp3

Active_and_Passive_Voice__RULES,_TRICKS,_CHARTS,_EXERCISES,_EXAMPLES_&_PDF__English_Grammar(480p).mp4

Active_Passive_Voice_of_Modals_Helping_Verbs(360p).mp4

Active_Passive_Voice_of_Modals_Helping_Verbs(360p).mp4.smi

Automatic_English_Conversation(720p).mp4

Bhut_Gana_Pyar_Hai_Tere_T_!!_By_Chetna_New_Video_!!_Viki_Entertainment(240p).mp4

Coding_Deletion_Operation_in_Array_Using_C_Language_(With_Notes)(720p).mp4

Coding_Insertion_Operation_in_Array_in_Data_Structures_in_C_language(720p).mp4

constraints_in_dbms__key,_domain_&_referential_integrity_(360p).mp4

data_independence_in_dbms__logical_and_physical_data_(360p).mp4

Excuse_Me__Kaka__New_Song_Latest_punjabi_Songs_2020_Libaas(360p).mp4

Functional_dependency_in_DBMS__What_is_functional_dependency__Database_Management_System(360p).mp4

Haryanvi_Beat_-_Diler_Kharkiya__Renuka_Panwar__Angel_Rai__New_Haryanvi_Song_Haryanavi_2021(1080p).mp4

Keh_Len_De_(Official_Video)_Kaka__Latest_Punjabi_Song_2021__New_Punjabi_Songs_2021__Haani_Records(1080p).mp4

Keh_Len_De_(Official_Video)_Kaka__Latest_Punjabi_Song_2021__New_Punjabi_Songs_2021__Haani_Records(1080p).mp4.smi

Ke_Baar_Baar_Samjhana_(के_बार_बार_समझाना)_Full_Song_with_Lyrics__Best_WhatsApp_Status__Dhull_HR(360p).mp4

Learn_English_in_30_Minutes_-_ALL_the_English_Basics_You_Need(240p).mp4

Learn_English_through_Hindi__1000_sentences_for_English_speaking_आसान_अगंर्जेी__Full_course(480p).mp4

Maa_Ki_Mamta__Adarsh_Sharma__Haryanvi_Ragni_Song_2020__Sonotek_Haryanvi(480p).mp4

Mehendi_Wale_Haath_Song_Guru_Randhawa_Sanjana_SSayeed_Q,_Sachet-Parampara,_Arvindr_Bhushan_Kumar(256k).mp3

Milne_Hai_Mujhse_Aayi__cover_@Sakshi_Singh__Sing_Dil_Se__Aashiqui_2__Arijit_Singh(256k).mp3

My_top_25_pandas_tricks(720p).mp4.smi

o_pata_nahi_ji_konsa_nasha_karta_hai_-_Titliyan_full_Song_Hardy_Sandhu__Yaar_Mera_Titliyan_Warga(256k).mp3

Passive_voice_of_LET__Active_and_Passive_Voice_in_English_Grammar(480p).mp4

Salam-E-Ishq_Meri_Jaan_Zara_Kabul_Kar_Lo__Muqaddar_Ka_Sikandar (1978)__Amitabh_Bachchan,_Rekha(1080p).mp4

SEARCHING_&_SORTING_COMPLETE_(_In_just_50_min)(360p).mp4

Second_Normal_Form_in_DBMS__2NF_in_dbms__Normalization_in_DBMS(360p).mp4

Second_Normal_Form_in_DBMS__2NF_in_dbms__Normalization_in_DBMS(360p).mp4.smi

Tu_Chahida_Song,_Ve_Mainu_Juttiyan_Di_Lod_Nahi_Tu_Chahida,_Ve_Mainu_Tu_Chahida_Riyaz_Aly,_Aroob_Khan(720p).mp4

Understand_FAST_English_Conversations(480p).mp4

Understand_FAST_English_Conversations(480p).mp4.smi

vm3u8cache

WRITING_SKILL,Essay_Writing_(The_Most_important)कैसे_सोचे_कैसे_लिखे_🔥🔥(480p).mp4

Yaaro_Tod_Deni_Surjit_Bhullar__यारी_तोड़_दनेी__Surjit_Bhullar__Panjabi_Song__2020(256k).mp3

_Fazilpuria_feat_Deepti__Afsana__Jaani__SukhE__New_Haryanvi_Songs_Haryanavi_2020(256k).mp3

_First_Normal_form_in_DBMS_in_HINDI__1st_Normal_form_कय्ा_होती_ह_ै(360p).mp4

_Jass_Manak_(Full_Video)_Satti_Dhillon__Sharry_Nexus__GK_DIGITAL__New_Songs__Geet_MP3(256k).mp3

_Neha_Kakkar,_Sunny_Kaushal__Jubin_Nautiyal,Jaani__Bhushan_Kumar__Arvindr_K(256k).mp3

_Third_Normal_Form_in_dbms_with_examples_in_Hindi__Normalization(360p).mp4

_Tum_Hi_Aana__Marjaavaan__Riteish_D,_Sidharth_M,_Tara_S_Jubin_Nautiyal,Payal_Dev,Kunaal_V(256k).mp3

मैया_तेरे_चरणों_की_Ambe_Tere_Charno_Ki__बहुत_ही_मधुर_नये_म्यूजिक_के_साथ___Saijal__Isha__Anchal(256k).mp3

In [26]:
d[1:10]

['500+_Daily_Use_English_Sentences_।_English_Speaking_Practice(128k).m4a',
 '50_English_Phrases_to_Use_in_a_Conversation(480p).mp4',
 '52_GAJ_KA_DAMAN__PRANJAL_DAHIYA__AMAN_JAJI__RENUKA_PANWAR__MUKESH_JAJI__SAHIL_SANDHU(256k).mp3',
 'Active_and_Passive_Voice__RULES,_TRICKS,_CHARTS,_EXERCISES,_EXAMPLES_&_PDF__English_Grammar(480p).mp4',
 'Active_Passive_Voice_of_Modals_Helping_Verbs(360p).mp4',
 'Active_Passive_Voice_of_Modals_Helping_Verbs(360p).mp4.smi',
 'Automatic_English_Conversation(720p).mp4',
 'Bhut_Gana_Pyar_Hai_Tere_T_!!_By_Chetna_New_Video_!!_Viki_Entertainment(240p).mp4',
 'Coding_Deletion_Operation_in_Array_Using_C_Language_(With_Notes)(720p).mp4']

In [24]:
os.getcwd()

'C:\\Users\\Dell\\Desktop\\dwld'

In [25]:
os.remove("ranjitfile.txt")

In [26]:
os.getcwd()

'C:\\Users\\Dell\\Desktop\\dwld'

In [27]:
for i in os.listdir():
    print(i)

3_Big_Mistakes_in_Your_English_Listening__Go_Natural_English(480p).mp4
500+_Daily_Use_English_Sentences_।_English_Speaking_Practice(128k).m4a
50_English_Phrases_to_Use_in_a_Conversation(480p).mp4
52_GAJ_KA_DAMAN__PRANJAL_DAHIYA__AMAN_JAJI__RENUKA_PANWAR__MUKESH_JAJI__SAHIL_SANDHU(256k).mp3
Active_and_Passive_Voice__RULES,_TRICKS,_CHARTS,_EXERCISES,_EXAMPLES_&_PDF__English_Grammar(480p).mp4
Active_Passive_Voice_of_Modals_Helping_Verbs(360p).mp4
Active_Passive_Voice_of_Modals_Helping_Verbs(360p).mp4.smi
Automatic_English_Conversation(720p).mp4
Bhut_Gana_Pyar_Hai_Tere_T_!!_By_Chetna_New_Video_!!_Viki_Entertainment(240p).mp4
Coding_Deletion_Operation_in_Array_Using_C_Language_(With_Notes)(720p).mp4
Coding_Insertion_Operation_in_Array_in_Data_Structures_in_C_language(720p).mp4
constraints_in_dbms__key,_domain_&_referential_integrity_(360p).mp4
data_independence_in_dbms__logical_and_physical_data_(360p).mp4
Excuse_Me__Kaka__New_Song_Latest_punjabi_Songs_2020_Libaas(360p).mp4
Functional_dependency_in_DBMS__What_is_functional_dependency__Database_Management_System(360p).mp4
Haryanvi_Beat_-_Diler_Kharkiya__Renuka_Panwar__Angel_Rai__New_Haryanvi_Song_Haryanavi_2021(1080p).mp4
Keh_Len_De_(Official_Video)_Kaka__Latest_Punjabi_Song_2021__New_Punjabi_Songs_2021__Haani_Records(1080p).mp4
Keh_Len_De_(Official_Video)_Kaka__Latest_Punjabi_Song_2021__New_Punjabi_Songs_2021__Haani_Records(1080p).mp4.smi
Ke_Baar_Baar_Samjhana_(के_बार_बार_समझाना)_Full_Song_with_Lyrics__Best_WhatsApp_Status__Dhull_HR(360p).mp4
Learn_English_in_30_Minutes_-_ALL_the_English_Basics_You_Need(240p).mp4
Learn_English_through_Hindi__1000_sentences_for_English_speaking_आसान_अगंर्जेी__Full_course(480p).mp4
Maa_Ki_Mamta__Adarsh_Sharma__Haryanvi_Ragni_Song_2020__Sonotek_Haryanvi(480p).mp4
Mehendi_Wale_Haath_Song_Guru_Randhawa_Sanjana_SSayeed_Q,_Sachet-Parampara,_Arvindr_Bhushan_Kumar(256k).mp3
Milne_Hai_Mujhse_Aayi__cover_@Sakshi_Singh__Sing_Dil_Se__Aashiqui_2__Arijit_Singh(256k).mp3
My_top_25_pandas_tricks(720p).mp4.smi
o_pata_nahi_ji_konsa_nasha_karta_hai_-_Titliyan_full_Song_Hardy_Sandhu__Yaar_Mera_Titliyan_Warga(256k).mp3
Passive_voice_of_LET__Active_and_Passive_Voice_in_English_Grammar(480p).mp4
Salam-E-Ishq_Meri_Jaan_Zara_Kabul_Kar_Lo__Muqaddar_Ka_Sikandar (1978)__Amitabh_Bachchan,_Rekha(1080p).mp4
SEARCHING_&_SORTING_COMPLETE_(_In_just_50_min)(360p).mp4
Second_Normal_Form_in_DBMS__2NF_in_dbms__Normalization_in_DBMS(360p).mp4
Second_Normal_Form_in_DBMS__2NF_in_dbms__Normalization_in_DBMS(360p).mp4.smi
Tu_Chahida_Song,_Ve_Mainu_Juttiyan_Di_Lod_Nahi_Tu_Chahida,_Ve_Mainu_Tu_Chahida_Riyaz_Aly,_Aroob_Khan(720p).mp4
Understand_FAST_English_Conversations(480p).mp4
Understand_FAST_English_Conversations(480p).mp4.smi
vm3u8cache
WRITING_SKILL,Essay_Writing_(The_Most_important)कैसे_सोचे_कैसे_लिखे_🔥🔥(480p).mp4
Yaaro_Tod_Deni_Surjit_Bhullar__यारी_तोड़_दनेी__Surjit_Bhullar__Panjabi_Song__2020(256k).mp3
_Fazilpuria_feat_Deepti__Afsana__Jaani__SukhE__New_Haryanvi_Songs_Haryanavi_2020(256k).mp3
_First_Normal_form_in_DBMS_in_HINDI__1st_Normal_form_कय्ा_होती_ह_ै(360p).mp4
_Jass_Manak_(Full_Video)_Satti_Dhillon__Sharry_Nexus__GK_DIGITAL__New_Songs__Geet_MP3(256k).mp3
_Neha_Kakkar,_Sunny_Kaushal__Jubin_Nautiyal,Jaani__Bhushan_Kumar__Arvindr_K(256k).mp3
_Third_Normal_Form_in_dbms_with_examples_in_Hindi__Normalization(360p).mp4
_Tum_Hi_Aana__Marjaavaan__Riteish_D,_Sidharth_M,_Tara_S_Jubin_Nautiyal,Payal_Dev,Kunaal_V(256k).mp3
मैया_तेरे_चरणों_की_Ambe_Tere_Charno_Ki__बहुत_ही_मधुर_नये_म्यूजिक_के_साथ___Saijal__Isha__Anchal(256k).mp3

In [28]:
if os.path.exists("ranjitfile.txt"):
    print("present")
else:
    print("not present")

not present

In [45]:
help(os.walk)

Help on function walk in module os:

walk(top, topdown=True, onerror=None, followlinks=False)
    Directory tree generator.

    For each directory in the directory tree rooted at top (including top
    itself, but excluding '.' and '..'), yields a 3-tuple

        dirpath, dirnames, filenames

    dirpath is a string, the path to the directory.  dirnames is a list of
    the names of the subdirectories in dirpath (excluding '.' and '..').
    filenames is a list of the names of the non-directory files in dirpath.
    Note that the names in the lists are just names, with no path components.
    To get a full path (which begins with top) to a file or directory in
    dirpath, do os.path.join(dirpath, name).

    If optional arg 'topdown' is true or not specified, the triple for a
    directory is generated before the triples for any of its subdirectories
    (directories are generated top down).  If topdown is false, the triple
    for a directory is generated after the triples for all of its
    subdirectories (directories are generated bottom up).

    When topdown is true, the caller can modify the dirnames list in-place
    (e.g., via del or slice assignment), and walk will only recurse into the
    subdirectories whose names remain in dirnames; this can be used to prune the
    search, or to impose a specific order of visiting.  Modifying dirnames when
    topdown is false has no effect on the behavior of os.walk(), since the
    directories in dirnames have already been generated by the time dirnames
    itself is generated. No matter the value of topdown, the list of
    subdirectories is retrieved before the tuples for the directory and its
    subdirectories are generated.

    By default errors from the os.scandir() call are ignored.  If
    optional arg 'onerror' is specified, it should be a function; it
    will be called with one argument, an OSError instance.  It can
    report the error to continue with the walk, or raise the exception
    to abort the walk.  Note that the filename is available as the
    filename attribute of the exception object.

    By default, os.walk does not follow symbolic links to subdirectories on
    systems that support them.  In order to get this functionality, set the
    optional argument 'followlinks' to true.

    Caution:  if you pass a relative pathname for top, don't change the
    current working directory between resumptions of walk.  walk never
    changes the current directory, and assumes that the client doesn't
    either.

    Example:

    import os
    from os.path import join, getsize
    for root, dirs, files in os.walk('python/Lib/email'):
        print(root, "consumes", end="")
        print(sum(getsize(join(root, name)) for name in files), end="")
        print("bytes in", len(files), "non-directory files")
        if 'CVS' in dirs:
            dirs.remove('CVS')  # don't visit CVS directories

In [9]:
import pandas as pd
import numpy as np

In [11]:
dataa=np.arange(1,501).reshape(50,10)

In [12]:
dataa

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100],
       [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
       [111, 112, 113, 114, 115, 116, 117, 118, 119, 120],
       [121, 122, 123, 124, 125, 126, 127, 128, 129, 130],
       [131, 132, 133, 134, 135, 136, 137, 138, 139, 140],
       [141, 142, 143, 144, 145, 146, 147, 148, 149, 150],
       [151, 152, 153, 154, 155, 156, 157, 158, 159, 160],
       [161, 162, 163, 164, 165, 166, 167, 168, 169, 170],
       [171, 172, 173, 174, 175, 176, 177, 178, 179, 180],
       [181, 182, 183, 184, 185, 186, 187, 188, 189, 190],
       [191, 192, 193, 194, 195, 196, 197, 198, 199, 200],
       [201, 202, 203, 204, 205, 206, 207, 208, 209, 210],
       [211, 212, 213, 214, 215, 216, 217, 218, 219, 220],
       [221, 222, 223, 224, 225, 226, 227, 228, 229, 230],
       [231, 232, 233, 234, 235, 236, 237, 238, 239, 240],
       [241, 242, 243, 244, 245, 246, 247, 248, 249, 250],
       [251, 252, 253, 254, 255, 256, 257, 258, 259, 260],
       [261, 262, 263, 264, 265, 266, 267, 268, 269, 270],
       [271, 272, 273, 274, 275, 276, 277, 278, 279, 280],
       [281, 282, 283, 284, 285, 286, 287, 288, 289, 290],
       [291, 292, 293, 294, 295, 296, 297, 298, 299, 300],
       [301, 302, 303, 304, 305, 306, 307, 308, 309, 310],
       [311, 312, 313, 314, 315, 316, 317, 318, 319, 320],
       [321, 322, 323, 324, 325, 326, 327, 328, 329, 330],
       [331, 332, 333, 334, 335, 336, 337, 338, 339, 340],
       [341, 342, 343, 344, 345, 346, 347, 348, 349, 350],
       [351, 352, 353, 354, 355, 356, 357, 358, 359, 360],
       [361, 362, 363, 364, 365, 366, 367, 368, 369, 370],
       [371, 372, 373, 374, 375, 376, 377, 378, 379, 380],
       [381, 382, 383, 384, 385, 386, 387, 388, 389, 390],
       [391, 392, 393, 394, 395, 396, 397, 398, 399, 400],
       [401, 402, 403, 404, 405, 406, 407, 408, 409, 410],
       [411, 412, 413, 414, 415, 416, 417, 418, 419, 420],
       [421, 422, 423, 424, 425, 426, 427, 428, 429, 430],
       [431, 432, 433, 434, 435, 436, 437, 438, 439, 440],
       [441, 442, 443, 444, 445, 446, 447, 448, 449, 450],
       [451, 452, 453, 454, 455, 456, 457, 458, 459, 460],
       [461, 462, 463, 464, 465, 466, 467, 468, 469, 470],
       [471, 472, 473, 474, 475, 476, 477, 478, 479, 480],
       [481, 482, 483, 484, 485, 486, 487, 488, 489, 490],
       [491, 492, 493, 494, 495, 496, 497, 498, 499, 500]])

In [13]:
df=pd.DataFrame(data=dataa,columns=["col_"+str(i) for i in range(1,11)],index=["row_"+str(i) for i in range(1,51)])

In [14]:
df

        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9  col_10
row_1       1      2      3      4      5      6      7      8      9      10
row_2      11     12     13     14     15     16     17     18     19      20
row_3      21     22     23     24     25     26     27     28     29      30
row_4      31     32     33     34     35     36     37     38     39      40
row_5      41     42     43     44     45     46     47     48     49      50
row_6      51     52     53     54     55     56     57     58     59      60
row_7      61     62     63     64     65     66     67     68     69      70
row_8      71     72     73     74     75     76     77     78     79      80
row_9      81     82     83     84     85     86     87     88     89      90
row_10     91     92     93     94     95     96     97     98     99     100
row_11    101    102    103    104    105    106    107    108    109     110
row_12    111    112    113    114    115    116    117    118    119     120
row_13    121    122    123    124    125    126    127    128    129     130
row_14    131    132    133    134    135    136    137    138    139     140
row_15    141    142    143    144    145    146    147    148    149     150
row_16    151    152    153    154    155    156    157    158    159     160
row_17    161    162    163    164    165    166    167    168    169     170
row_18    171    172    173    174    175    176    177    178    179     180
row_19    181    182    183    184    185    186    187    188    189     190
row_20    191    192    193    194    195    196    197    198    199     200
row_21    201    202    203    204    205    206    207    208    209     210
row_22    211    212    213    214    215    216    217    218    219     220
row_23    221    222    223    224    225    226    227    228    229     230
row_24    231    232    233    234    235    236    237    238    239     240
row_25    241    242    243    244    245    246    247    248    249     250
row_26    251    252    253    254    255    256    257    258    259     260
row_27    261    262    263    264    265    266    267    268    269     270
row_28    271    272    273    274    275    276    277    278    279     280
row_29    281    282    283    284    285    286    287    288    289     290
row_30    291    292    293    294    295    296    297    298    299     300
row_31    301    302    303    304    305    306    307    308    309     310
row_32    311    312    313    314    315    316    317    318    319     320
row_33    321    322    323    324    325    326    327    328    329     330
row_34    331    332    333    334    335    336    337    338    339     340
row_35    341    342    343    344    345    346    347    348    349     350
row_36    351    352    353    354    355    356    357    358    359     360
row_37    361    362    363    364    365    366    367    368    369     370
row_38    371    372    373    374    375    376    377    378    379     380
row_39    381    382    383    384    385    386    387    388    389     390
row_40    391    392    393    394    395    396    397    398    399     400
row_41    401    402    403    404    405    406    407    408    409     410
row_42    411    412    413    414    415    416    417    418    419     420
row_43    421    422    423    424    425    426    427    428    429     430
row_44    431    432    433    434    435    436    437    438    439     440
row_45    441    442    443    444    445    446    447    448    449     450
row_46    451    452    453    454    455    456    457    458    459     460
row_47    461    462    463    464    465    466    467    468    469     470
row_48    471    472    473    474    475    476    477    478    479     480
row_49    481    482    483    484    485    486    487    488    489     490
row_50    491    492    493    494    495    496    497    498    499     500

In [15]:
df.index

Index(['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6', 'row_7', 'row_8',
       'row_9', 'row_10', 'row_11', 'row_12', 'row_13', 'row_14', 'row_15',
       'row_16', 'row_17', 'row_18', 'row_19', 'row_20', 'row_21', 'row_22',
       'row_23', 'row_24', 'row_25', 'row_26', 'row_27', 'row_28', 'row_29',
       'row_30', 'row_31', 'row_32', 'row_33', 'row_34', 'row_35', 'row_36',
       'row_37', 'row_38', 'row_39', 'row_40', 'row_41', 'row_42', 'row_43',
       'row_44', 'row_45', 'row_46', 'row_47', 'row_48', 'row_49', 'row_50'],
      dtype='object')

In [18]:
df.index

Index(['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6', 'row_7', 'row_8',
       'row_9', 'row_10', 'row_11', 'row_12', 'row_13', 'row_14', 'row_15',
       'row_16', 'row_17', 'row_18', 'row_19', 'row_20', 'row_21', 'row_22',
       'row_23', 'row_24', 'row_25', 'row_26', 'row_27', 'row_28', 'row_29',
       'row_30', 'row_31', 'row_32', 'row_33', 'row_34', 'row_35', 'row_36',
       'row_37', 'row_38', 'row_39', 'row_40', 'row_41', 'row_42', 'row_43',
       'row_44', 'row_45', 'row_46', 'row_47', 'row_48', 'row_49', 'row_50'],
      dtype='object')

In [20]:
df.dtypes

col_1     int32
col_2     int32
col_3     int32
col_4     int32
col_5     int32
col_6     int32
col_7     int32
col_8     int32
col_9     int32
col_10    int32
dtype: object

In [21]:
df.col_2

row_1       2
row_2      12
row_3      22
row_4      32
row_5      42
row_6      52
row_7      62
row_8      72
row_9      82
row_10     92
row_11    102
row_12    112
row_13    122
row_14    132
row_15    142
row_16    152
row_17    162
row_18    172
row_19    182
row_20    192
row_21    202
row_22    212
row_23    222
row_24    232
row_25    242
row_26    252
row_27    262
row_28    272
row_29    282
row_30    292
row_31    302
row_32    312
row_33    322
row_34    332
row_35    342
row_36    352
row_37    362
row_38    372
row_39    382
row_40    392
row_41    402
row_42    412
row_43    422
row_44    432
row_45    442
row_46    452
row_47    462
row_48    472
row_49    482
row_50    492
Name: col_2, dtype: int32

In [22]:
df['col_2']

row_1       2
row_2      12
row_3      22
row_4      32
row_5      42
row_6      52
row_7      62
row_8      72
row_9      82
row_10     92
row_11    102
row_12    112
row_13    122
row_14    132
row_15    142
row_16    152
row_17    162
row_18    172
row_19    182
row_20    192
row_21    202
row_22    212
row_23    222
row_24    232
row_25    242
row_26    252
row_27    262
row_28    272
row_29    282
row_30    292
row_31    302
row_32    312
row_33    322
row_34    332
row_35    342
row_36    352
row_37    362
row_38    372
row_39    382
row_40    392
row_41    402
row_42    412
row_43    422
row_44    432
row_45    442
row_46    452
row_47    462
row_48    472
row_49    482
row_50    492
Name: col_2, dtype: int32

In [23]:
df[['col_2']]

        col_2
row_1       2
row_2      12
row_3      22
row_4      32
row_5      42
row_6      52
row_7      62
row_8      72
row_9      82
row_10     92
row_11    102
row_12    112
row_13    122
row_14    132
row_15    142
row_16    152
row_17    162
row_18    172
row_19    182
row_20    192
row_21    202
row_22    212
row_23    222
row_24    232
row_25    242
row_26    252
row_27    262
row_28    272
row_29    282
row_30    292
row_31    302
row_32    312
row_33    322
row_34    332
row_35    342
row_36    352
row_37    362
row_38    372
row_39    382
row_40    392
row_41    402
row_42    412
row_43    422
row_44    432
row_45    442
row_46    452
row_47    462
row_48    472
row_49    482
row_50    492

In [25]:
df[['col_2','col_3']]

        col_2  col_3
row_1       2      3
row_2      12     13
row_3      22     23
row_4      32     33
row_5      42     43
row_6      52     53
row_7      62     63
row_8      72     73
row_9      82     83
row_10     92     93
row_11    102    103
row_12    112    113
row_13    122    123
row_14    132    133
row_15    142    143
row_16    152    153
row_17    162    163
row_18    172    173
row_19    182    183
row_20    192    193
row_21    202    203
row_22    212    213
row_23    222    223
row_24    232    233
row_25    242    243
row_26    252    253
row_27    262    263
row_28    272    273
row_29    282    283
row_30    292    293
row_31    302    303
row_32    312    313
row_33    322    323
row_34    332    333
row_35    342    343
row_36    352    353
row_37    362    363
row_38    372    373
row_39    382    383
row_40    392    393
row_41    402    403
row_42    412    413
row_43    422    423
row_44    432    433
row_45    442    443
row_46    452    453
row_47    462    463
row_48    472    473
row_49    482    483
row_50    492    493

In [26]:
df[['col_2','col_3']].sum()

col_2    12350
col_3    12400
dtype: int64

In [27]:
df.col_1.sum()        #this is bad habbit

12300

In [28]:
df.head()

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9  col_10
row_1      1      2      3      4      5      6      7      8      9      10
row_2     11     12     13     14     15     16     17     18     19      20
row_3     21     22     23     24     25     26     27     28     29      30
row_4     31     32     33     34     35     36     37     38     39      40
row_5     41     42     43     44     45     46     47     48     49      50

In [30]:
df.head(1)

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9  col_10
row_1      1      2      3      4      5      6      7      8      9      10

In [31]:
df.head(2)

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9  col_10
row_1      1      2      3      4      5      6      7      8      9      10
row_2     11     12     13     14     15     16     17     18     19      20

In [36]:
df.describe()     #details provide

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,246.000000,247.000000,248.000000,249.000000,250.000000,251.000000,252.000000,253.000000,254.000000,255.000000
std,145.773797,145.773797,145.773797,145.773797,145.773797,145.773797,145.773797,145.773797,145.773797,145.773797
min,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000
25%,123.500000,124.500000,125.500000,126.500000,127.500000,128.500000,129.500000,130.500000,131.500000,132.500000
50%,246.000000,247.000000,248.000000,249.000000,250.000000,251.000000,252.000000,253.000000,254.000000,255.000000
75%,368.500000,369.500000,370.500000,371.500000,372.500000,373.500000,374.500000,375.500000,376.500000,377.500000
max,491.000000,492.000000,493.000000,494.000000,495.000000,496.000000,497.000000,498.000000,499.000000,500.000000

In [40]:
df.mean()       #for average

col_1     246.0
col_2     247.0
col_3     248.0
col_4     249.0
col_5     250.0
col_6     251.0
col_7     252.0
col_8     253.0
col_9     254.0
col_10    255.0
dtype: float64

In [42]:
df.std()           #standard value

col_1     145.773797
col_2     145.773797
col_3     145.773797
col_4     145.773797
col_5     145.773797
col_6     145.773797
col_7     145.773797
col_8     145.773797
col_9     145.773797
col_10    145.773797
dtype: float64

In [44]:
df.min()

col_1      1
col_2      2
col_3      3
col_4      4
col_5      5
col_6      6
col_7      7
col_8      8
col_9      9
col_10    10
dtype: int32

In [45]:
df.max()

col_1     491
col_2     492
col_3     493
col_4     494
col_5     495
col_6     496
col_7     497
col_8     498
col_9     499
col_10    500
dtype: int32

In [47]:
df.col_2.max()           #first way

492

In [48]:
df["col_2"].max()           #second way fatch elment

492

In [53]:
df[["col_1","col_2"]].max()

col_1    491
col_2    492
dtype: int32

In [55]:
df.shape       #for chek the shape of datafrmae

(50, 10)

In [56]:
df.ndim             # chek the dimension in dataframe

2

In [54]:
df[1:2]

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9  col_10
row_2     11     12     13     14     15     16     17     18     19      20

In [59]:
df[2:5]

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9  col_10
row_3     21     22     23     24     25     26     27     28     29      30
row_4     31     32     33     34     35     36     37     38     39      40
row_5     41     42     43     44     45     46     47     48     49      50

In [61]:
df.columns

Index(['col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7', 'col_8',
       'col_9', 'col_10'],
      dtype='object')

In [62]:
df.index

Index(['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6', 'row_7', 'row_8',
       'row_9', 'row_10', 'row_11', 'row_12', 'row_13', 'row_14', 'row_15',
       'row_16', 'row_17', 'row_18', 'row_19', 'row_20', 'row_21', 'row_22',
       'row_23', 'row_24', 'row_25', 'row_26', 'row_27', 'row_28', 'row_29',
       'row_30', 'row_31', 'row_32', 'row_33', 'row_34', 'row_35', 'row_36',
       'row_37', 'row_38', 'row_39', 'row_40', 'row_41', 'row_42', 'row_43',
       'row_44', 'row_45', 'row_46', 'row_47', 'row_48', 'row_49', 'row_50'],
      dtype='object')

In [3]:
data=pd.read_csv('pollice data.csv')

In [4]:
data.head(3)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [5]:
data.describe()

       country_name  driver_age_raw    driver_age
count           0.0    61481.000000  61228.000000
mean            NaN     1967.791106     34.148984
std             NaN      121.050106     12.760710
min             NaN        0.000000     15.000000
25%             NaN     1965.000000     23.000000
50%             NaN     1978.000000     31.000000
75%             NaN     1985.000000     43.000000
max             NaN     8801.000000     88.000000

In [33]:
np.unique(data['driver_age'])

array([15., 16., 17., ..., nan, nan, nan])

In [11]:
data.columns

Index(['stop_date', 'stop_time', 'country_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [30]:
#  >>>>>>>>>> here i am using exception handling concept<<<<<<<<<<<<<<<<<<<<<<<
for col in data.columns:
    try:
        print(col,">>>>>>",len(np.unique(data[col])),'>>>>>',data[col].dtypes)
    except: 
        print('here no other catogorical column')
        print()
        break
    else:
        print('this is else part in excehandling')
        print()
    finally:
        print("this is finally part ")

stop_date >>>>>> 2651 >>>>> object
this is else part in excehandling

this is finally part
stop_time >>>>>> 1432 >>>>> object
this is else part in excehandling

this is finally part
country_name >>>>>> 65535 >>>>> float64
this is else part in excehandling

this is finally part
here no other catogorical column

this is finally part

In [19]:
pd.value_counts(data['stop_time'])

10:00    280
11:00    280
9:00     252
10:30    251
9:30     246
        ...
4:14       1
4:50       1
5:38       1
4:32       1
5:23       1
Name: stop_time, Length: 1432, dtype: int64